[submodule "vimfiles/bundle/vim-pathogen"]
	path = vimfiles/bundle/vim-pathogen
	url = https://github.com/tpope/vim-pathogen
[submodule "vimfiles/bundle/tablity"]
	path = vimfiles/bundle/tablity
	url = https://github.com/Stormherz/tablify
[submodule "vimfiles/bundle/python-mode"]
	path = vimfiles/bundle/python-mode
	url = https://github.com/klen/python-mode
[submodule "vimfiles/bundle/vim-ident-guides"]
	path = vimfiles/bundle/vim-ident-guides
	url = https://github.com/nathanaelkane/vim-indent-guides
[submodule "vimfiles/bundle/emmet-vim"]
	path = vimfiles/bundle/emmet-vim
	url = https://github.com/mattn/emmet-vim
[submodule "vimfiles/bundle/minibufexpl"]
	path = vimfiles/bundle/minibufexpl
	url = https://github.com/fholgado/minibufexpl.vim
[submodule "vimfiles/bundle/nerdcommenter"]
	path = vimfiles/bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter
[submodule "vimfiles/bundle/Trinity"]
	path = vimfiles/bundle/Trinity
	url = https://github.com/wesleyche/Trinity
[submodule "vimfiles/bundle/nerdtree"]
	path = vimfiles/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule "vimfiles/bundle/SrcExpl"]
	path = vimfiles/bundle/SrcExpl
	url = https://github.com/wesleyche/SrcExpl
[submodule "vimfiles/bundle/taglist"]
	path = vimfiles/bundle/taglist
	url = https://github.com/vim-scripts/taglist.vim
[submodule "vimfiles/bundle/vim-airline"]
	path = vimfiles/bundle/vim-airline
	url = https://github.com/bling/vim-airline
[submodule "vimfiles/bundle/neocomplcache"]
	path = vimfiles/bundle/neocomplcache
	url = https://github.com/Shougo/neocomplcache.vim
[submodule "vimfiles/bundle/neosnippet"]
	path = vimfiles/bundle/neosnippet
	url = https://github.com/Shougo/neosnippet.vim
[submodule "vimfiles/bundle/vim-multiple-cursors"]
	path = vimfiles/bundle/vim-multiple-cursors
	url = https://github.com/terryma/vim-multiple-cursors
[submodule "vimfiles/bundle/vim-surround"]
	path = vimfiles/bundle/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule "vimfiles/bundle/vim-sneak"]
	path = vimfiles/bundle/vim-sneak
	url = https://github.com/justinmk/vim-sneak
[submodule "vimfiles/bundle/vim-markdown"]
	path = vimfiles/bundle/vim-markdown
	url = https://github.com/plasticboy/vim-markdown
[submodule "vimfiles/bundle/ctrlp"]
	path = vimfiles/bundle/ctrlp
	url = https://github.com/kien/ctrlp.vim
[submodule "vimfiles/bundle/calendar"]
	path = vimfiles/bundle/calendar
	url = https://github.com/mattn/calendar-vim
[submodule "vimfiles/bundle/solarized"]
	path = vimfiles/bundle/solarized
	url = https://github.com/altercation/vim-colors-solarized
[submodule "vimfiles/bundle/tasklist"]
	path = vimfiles/bundle/tasklist
	url = https://github.com/vim-scripts/TaskList.vim
[submodule "vimfiles/bundle/vim-snippets"]
	path = vimfiles/bundle/vim-snippets
	url = https://github.com/honza/vim-snippets
[submodule "vimfiles/bundle/vim-startify"]
	path = vimfiles/bundle/vim-startify
	url = https://github.com/mhinz/vim-startify
[submodule "vimfiles/bundle/a.vim"]
	path = vimfiles/bundle/a.vim
	url = https://github.com/vim-scripts/a.vim
[submodule "vimfiles/bundle/vim-fugitive"]
	path = vimfiles/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "vimfiles/bundle/tabular"]
	path = vimfiles/bundle/tabular
	url = https://github.com/godlygeek/tabular
